@inherits LayoutComponentBase
@using BlazorApp1.Components

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthLinks />
        </div>



        <article class="content px-4">
            <CascadingValue Name="HeadingColor" Value="@_color">
                @Body
            </CascadingValue>

        </article>
    </main>
</div>

@code{
    private readonly string _color = "#0505b5";
}
